# =========================================================================
# Compiled Java Classes & Artifacts
# =========================================================================
*.class
bin/
out/

# =========================================================================
# IntelliJ IDEA Configuration Files
# =========================================================================
.idea/
*.iml

# =========================================================================
# Operating System Garbage
# =========================================================================
.DS_Store
Thumbs.db
